@import "../../sass/general.scss";

.project {
  &-name {
    @include text-style(35px, 700, 40px, #c4cfde);
  }
  &-description {
    margin-top: 25px;
    @include text-style(22px, 500, 40px, #878e99);
    text-align: justify;
  }
  &-key {
    @include text-style(18px, 500, 40px, #c4cfde);
  }
  &-value {
    @include text-style(18px, 500, 40px, #878e99);
  }

  &-cross-btn {
    @include text-style(25px, 700, 40px, #ff014f);
    background-color: #202327;
    box-shadow: 0px 3px 10px rgb(0 0 0/ 0.99);
  }

  &-technologies figure {
    position: relative;
  }
  &-technologies:hover {
    transform: translateY(-20px) translateX(0px);
    transition-duration: 1s;
  }
  &-technologies figure::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: block;
    content: "";
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  &-technologies figure:hover::before {
    -webkit-animation: circle 0.75s;
    animation: circle 0.75s;
  }
  @-webkit-keyframes circle {
    0% {
      opacity: 1;
    }
    40% {
      opacity: 1;
    }
    100% {
      width: 200%;
      height: 200%;
      opacity: 0;
    }
  }
  @keyframes circle {
    0% {
      opacity: 1;
    }
    40% {
      opacity: 1;
    }
    100% {
      width: 200%;
      height: 200%;
      opacity: 0;
    }
  }
}
